.dashboard {
  background-color: #fafaf6;
  padding: 15px;
}

.my-camel {
  h2 {
    display: inline-block;
  }
}

.booked-user{
  margin-left: 50px;
  margin-bottom: 15px;
}

.validate {
  margin-left: 50px;
}

.cbtn-edit {
  width: 50px;
}

