<div class="footer">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="footer-copyright">
        This project was made by the CamelTeam-Batch-152-Le-Wagon
      </div>
    </div>
  </div>
</div>
