<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.meditainment.com/images/dmImage/SourceImage/desert-oasis.jpg');">
  <div class="banner-content">
    <h1>La Casa de Camel</h1>
    <p>Save Earth Ride a Camel</p>
    <%= link_to "See Marvelous Camels", camels_path, class: "cbtn camel" %>
    <div id="to delete" >
      <br>
      <br>
      <%= link_to "New user", new_user_registration_path %>
      <%= link_to "Edit user", edit_user_registration_path %>
    </div>
  </div>
</div>
