
<h1>Camehamemel</h1>
<div class="search-bar">
  <input type="text" id="camel_address"></input>
</div>
<div>
<% @camels.each do |camel| %>
<%= render 'card', camel: camel %>
<% end %>
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
