.disabled {

  background-image: linear-gradient(0deg, rgba(184,128,20,0.7) 0%, rgba(148,148,148,0.4) 37%, rgba(207,207,207,0.5) 100%),
                  url("http://www.icone-png.com/png/13/12777.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
}
