.search-bar {
  width: 100%;
  position: relative;
  padding: 10px;
  background-color: $camel;
  * {
    width: 500px;
    margin: auto;
  }
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}
