<p><%= "#{review.content} - "%>
      <% if review.rating > 0 %>
        <% rating = review.rating %>
        <% diff = 5 - rating %>
        <% rating.times do |x| %>
          <i class="fa fa-star rating text-center"></i>
        <% end %>
        <% diff.times do |y| %>
          <i class="fa fa-star-o rating text-center"></i>
        <% end %>
      <% else %>
        <% 5.times do |x| %>
          <i class="fa fa-star-o rating text-center"></i>
        <% end %>
      <% end %>
</p>
